<% content_for :head do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
  <%= javascript_include_tag "/assets/ckeditor/init" %>
<% end %>

<%= form_for(@static_page) do |f| %>
  <% if @static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_page.errors.count, "error") %> prohibited this static_page from being saved:</h2>

      <ul>
      <% @static_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_area :body, :class => 'ckeditor' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', :root, :class => "btn btn-default" %>
  </div>

<% end %>