<% content_for :head do %>
	<title>Consigliere - <%= @article.title %></title>
<% end %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<div class="page-header">
			<h1><%= @article.title %></h1>
		</div>

		<div class="content">
			<%= @article.body.html_safe %>
		</div>

		<div class="buttons">
			<% if can? :update, @article %>
				<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary" %>
			<% end %>

			<% if can? :destroy, @article %>
				<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
			<% end %>

			<%= link_to 'Back', articles_path, :class => "btn btn-default" %>
		</div>
			
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'myrailsblog';
	    var disqus_identifier = '<%= @article.id %>';
    	var disqus_title = '<%= @article.title %>';
    	var disqus_url = '<%= request.original_url %>';


	    // /* * * DON'T EDIT BELOW THIS LINE * * */
	    // (function () {
	    //     var s = document.createElement('script'); s.async = true;
	    //     s.type = 'text/javascript';
	    //     s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	    //     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    // }());
	    </script>
	</div>
</div>