<% content_for :head do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
  <%= javascript_include_tag "/assets/ckeditor/init" %>
<% end %>

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :autocomplete => :off, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :project %><br>
    <%= f.text_area :body, :class => 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Back', projects_path, :class => "btn btn-default" %>
  </div>

<% end %>