<% content_for :head do %>
  <title>Consigliere - Portfolio</title>
<% end %>

<div class="myrow">
  <div class="col-md-8 col-md-offset-2">

      <% if can? :create, @project %>
        <%= link_to 'New Project', new_project_path, :class => 'btn btn-primary' %><br />
      <% end %>

      <% @projects.each do |project| %>

      <div class="page-header">
        <h1><%= link_to project.title, project %></h1>
      </div>

      <div class="content">
        <%= project.body.html_safe %>
      </div>

      <div class="buttons">
        <%= link_to 'Show', project, :class => "btn btn-primary" %>

        <% if can? :update, project %>
          <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-default" %>
        <% end %>

        <% if can? :destroy, project %>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        <% end %>
      </div>

      <% end %><!-- @projects.each do |project| -->
      
  </div>
</div>