<!DOCTYPE html>
<html>
<head>
  <%= auto_discovery_link_tag(:rss, "http://0.0.0.0:3000/feed") %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/assets/highlight.pack.js" %>
  <script>
      hljs.initHighlightingOnLoad();

      $(document).ready(function() {
          $(".owl-carousel-1").owlCarousel({
              items: 1,
          });
          $(".owl-carousel-2").owlCarousel({
              items: 2,
          });
          $(".owl-carousel-3").owlCarousel({
              items: 3,
          });
      });
  </script>

  <%= yield :head %>
  <link href="/favicon.ico" rel="shortcut icon"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Navigation bar begin -->
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Consigliere', root_path, :class => "navbar-brand") %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'articles' %>">
          <%= link_to('Blog', articles_path) %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>">
          <a href="/about">About</a>
        </li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'portfolio' %>">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'contacts' %>">
          <a href="/contacts">Contacts</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('', feed_path, { class: "fa fa-rss" }) %></li>
        <% if user_signed_in? %>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li class='<%= (params[:controller]=='devise/sessions')&(params[:action]=='new') ? 'active' : '' %>'><%= link_to('Sign In', new_user_session_path) %></li>
            <li class='<%= (params[:controller]=='devise/registrations')&(params[:action]=='new') ? 'active' : '' %>'><%= link_to('Register', new_user_registration_path) %></li>
        <% end %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
<!-- Navigation bar end -->

<% if notice %>
    <div class="myrow">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p id="notice"><%= notice %></p>
        </div>
      </div>
    </div>
<% end %>

<%= yield %>

<div style="clear:both"></div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46802250-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>