<!DOCTYPE html>
<html>
<head>
	<title>Consigliere</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<%= csrf_meta_tags %>
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
</head>
<body>
<!-- Navigation bar begin -->
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to('Consigliere', root_path, :class => "navbar-brand") %>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><%= link_to('Home', root_path) %></li>
					<li><%= link_to('Blog', articles_path) %></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
						<li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
					<% else %>
						<li><%= link_to('Sign In', new_user_session_path) %></li>
						<li><%= link_to('Register', new_user_registration_path) %></li>
					<% end %>
				</ul>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
<!-- Navigation bar end -->

<%= yield %>

</body>
</html>
